watch_file .tool-versions

asdf_has docker-compose || asdf plugin-add docker-compose https://github.com/virtualstaticvoid/asdf-docker-compose.git
asdf_has java || asdf plugin-add java
asdf_has nodejs || asdf plugin-add nodejs
asdf_has python || asdf plugin-add python
asdf_has shellcheck || asdf plugin-add shellcheck
asdf_has shfmt || asdf plugin-add shfmt
asdf_has yarn || asdf plugin-add yarn
asdf install
use asdf

layout python-venv

use pipx
has aws \
  || pipx install awscli
has pre-commit \
  || pipx install 'pre-commit>=2.10.1'
has detect-secrets \
  || pipx install 'detect-secrets>=1.1.0'
has onelogin-aws-assume-role \
  || pipx install 'onelogin-aws-assume-role>=1.7.0'

use pre-commit

# Set JAVA_HOME
export JAVA_HOME="$(dirname "$(dirname "$(expand_path "$(asdf which java)")")")"
