watch_file .tool-versions

asdf_has java || asdf plugin-add java
asdf_has nodejs || asdf plugin-add nodejs
asdf_has python || asdf plugin-add python
asdf_has shellcheck || asdf plugin-add shellcheck
asdf_has shfmt || asdf plugin-add shfmt
asdf_has pnpm || asdf plugin-add pnpm
asdf install | sed '/is already installed/d'
use asdf

[[ -v CI ]] && PATH_add "${HOME}/.local/bin"

layout python-venv

has pipx || use pipx
has pre-commit \
  || pipx install 'pre-commit>=2.20.0'

use pre-commit

# Set JAVA_HOME
export JAVA_HOME="$(dirname "$(dirname "$(expand_path "$(asdf which java)")")")"
