watch_file .tool-versions

asdf_has java || asdf plugin-add java
asdf_has gradle || asdf plugin-add gradle

asdf install
use asdf

use pipx
has aws \
  || pipx install awscli
has pre-commit \
  || pipx install 'pre-commit>=2.10.1'
has detect-secrets \
  || pipx install 'detect-secrets>=1.1.0'
has onelogin-aws-assume-role \
  || pipx install 'onelogin-aws-assume-role>=1.7.0'

use pre-commit

# Set JAVA_HOME
export JAVA_HOME="$(dirname "$(dirname "$(expand_path "$(asdf which java)")")")"
