.wrapper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.repo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
